/* line height is 20px by default so add 30px top and bottom to equal
the new .navbar-brand 80px height  */

.navbar {
  background-color: white;
  transition: all 0.5s linear;
}

.navbar-brand {
  height: 60px;
}

// menu item
.nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  color: #222;
}
.navbar-toggle {
  padding: 10px;
  margin: 12px 15px 12px 0;
}

.navbar-toggle .icon-bar {
  background-color: #6d6d6d;
}

.navbar-primary {
  text-transform: uppercase;
  color: #6d6d6d;
}
.navbar-primary a {
  color: #6d6d6d;
}

//sticky nav
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar.active {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

// menu item hover state
.nav > li > a:focus,
.nav > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #8490ff;
}

// dropdown menu opens on hover
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 12px 0;
  min-width: 180px;
  border: 0px;
  border-radius: 0px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

// drop down menu item
.dropdown-menu > li > a {
  padding: 8px 20px;
  font-weight: 500;
  font-size: 12px;
  color: #222;
  text-transform: capitalize;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

// MOBILE

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}
