/**
 * Basic typography style for copy text
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@mixin heading-font {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 1.2em !important;
}

h1,
.h1 {
  @include heading-font;
  font-size: 4.5rem;
}

h4,
.h4 {
  @include heading-font;
  font-size: 1.5rem;
}

h6,
.h6 {
  @include heading-font;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
